{% extends 'base.html' %}

{% block content %}


<div class="container-fluid"style="padding:0px; background-color:#d3d3d38a;">
    <div class="container-fluid" style="background-color:#2d96fa; padding:10px;  ">
        <h1>Courbe température</h1>
        <div class="espace"></div>
        <figure class="highcharts-figure">
            <div id="temp"></div>
         
          </figure>
          
            
    </div>
    <div class="espace"></div>
</div>

<div class="container-fluid"style="padding:0px; background-color:#d3d3d38a;">
    <div class="container-fluid" style="background-color:#2d96fa; padding:10px;  ">
        <h1>Courbe température</h1>
        <div class="espace"></div>
        <figure class="highcharts-figure">
            <div id="container"></div>
        
          </figure>
          
            
    </div>
    <div class="espace"></div>
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/european-union.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/fr/fr-all.js"></script>





<script>
    var value = {{ value|safe }}
</script>


 
    
<script type = "text/javascript" src="../static/main.js"></script>


        




{% endblock %}



   
   
